
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
  }
  body {
    font-family: 'Roboto', sans-serif;
  }
  .sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: rgb(243, 243, 243);
    transition: all .5s ease;
  }
  .sidebar header {
    font-size: 22px;
    color: black;
    line-height: 70px;
    text-align: center;
    background: rgb(243, 243, 243);
    user-select: none;
  }
  .sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: black;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(48, 44, 49);
    border-top: 1px solid rgb(17, 16, 17);
    transition: .4s;
  }
  ul li:hover a{
    padding-left: 50px;
  }
  .sidebar ul a i{
    margin-right: 16px;
  }
  #check{
    display: none;
  }
  label #btn,label #cancel{
    position: absolute;
    background: #042331;
    border-radius: 3px;
    cursor: pointer;
  }
  label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
  }
  label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
  }
  #check:checked ~ .sidebar{
    left: 0;
  }
  #check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #cancel{
    left: 195px;
  }
  #check:checked ~ section{
    margin-left: 250px;
  }
  section{
    
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
  }

  h1 {
    text-align: center;
    background-color: #0a5275;
    
  }

  img {
    height: 400px;
    
  }

  #comics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:space-between;
    margin:10px

  }
  #machine {
    height: 500px;
    
    margin: left 200px;;
    
  }
  #unrealengine {
    height: 300px;
    position: relative;
    float: right;
    width: 70%;
  }

  #bodyunreal {
    background-image: url(fotos/unreal1.webp);
    
  }
  section {
    float:i;
  }
  p{
    color: white;
  }
  #aboutimg {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
  }

  #abouttext {
    position: relative;
    text-align: center;
    ; 
    
    height: 20%;
    width: 50%;
    margin: auto;
    border: 5px solid;
    font-size: larger;
  }